In [1]:
pip install pymysql

Requirement already satisfied: pymysql in /Users/marysuemeissner/anaconda3/lib/python3.11/site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/marysuemeissner/anaconda3/lib/python3.11/site-packages (1.4.39)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np

In [4]:
import pymysql                        # for getting data from a SQL database
from sqlalchemy import create_engine  # for establishing the connection and authentication

In [5]:
from getpass import getpass  # To get the password without showing the input

In [ ]:
password = getpass()

In [ ]:
connection_string = 'mysql+pymysql://root:B00tcamp@localhost/bank'
engine = create_engine(connection_string)

In [ ]:
type(engine)

In [ ]:
data = pd.read_sql_query('SELECT * FROM sakila.rental', engine)
data.head()

Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) from the Sakila database as a Pandas DataFrame. The function should take in three parameters:

engine: an object representing the database connection engine to be used to establish a connection to the Sakila database. 

month: an integer representing the month for which rental data is to be retrieved. 

year: an integer representing the year for which rental data is to be retrieved. 

The function should execute a SQL query to retrieve the rental data for the specified month and year from the rental table in the Sakila database, and return it as a pandas DataFrame.

In [ ]:
def rentals_month(month, year, engine=engine):
    rental=pd.read_sql_query(f'''SELECT * FROM sakila.rental
    WHERE LEFT(rental_date,4)={year} AND SUBSTR(rental_date,6,2)={month};''',engine)
    -- query = "SELECT * FROM rental WHERE MONTH(rental_date) = "+str(month)+ " AND YEAR(rental_date)"
    
    return rental

rental1=rentals_month('05', 2005)
rental1

In [ ]:
data.shape

Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input along with the month and year and returns a new DataFrame containing the number of rentals made by each customer_id during the selected month and year.

The function should also include the month and year as parameters and use them to name the new column according to the month and year, for example, if the input month is 05 and the year is 2005, the column name should be "rentals_05_2005".

In [ ]:
data.dtypes

In [ ]:
data['rental_date'] = pd.to_datetime(data['rental_date'])

# Filter for a specific month and year
month = 5
year = 2005

filtered_rentals = data[
    (data['rental_date'].dt.month == month) & 
    (data['rental_date'].dt.year == year)
]

# Group by 'customer_id' and count rentals for each customer
rentals_per_customer = filtered_rentals.groupby('customer_id').size().reset_index(name='rentals_05_2005')
print(rentals_per_customer)

In [ ]:
data['rental_date'] = pd.to_datetime(data['rental_date'])

# Filter for a specific month and year
month = 6
year = 2005

filtered_rentals = data[
    (data['rental_date'].dt.month == month) & 
    (data['rental_date'].dt.year == year)
]

# Group by 'customer_id' and count rentals for each customer
rentals_per_customer = filtered_rentals.groupby('customer_id').size().reset_index(name='rentals_05_2005')
print(rentals_per_customer)

In [ ]:
# solution from the Breakout Room group (Jaineel)
def rental_count_month(df,month,year):
    col= f"rentals_%s_%s"%(month,year)
    df[col]=df.groupby('customer_id')['rental_id'].count()
    df=df[['customer_id',col]].dropna().reset_index(drop=True)
    df=df.sort_values('customer_id')
    return df

In [ ]:
month = 5
year = 2005
df = data  -- may df
rental_count_month(df,month,year)

In [ ]:
month = 6
year = 2005
df = data
rental_count_month(df,month,year)

In [ ]:
# Alternative using filtering:
def get_rentals_per_customer(data, month, year):
    data['rental_date'] = pd.to_datetime(data['rental_date'])

    filtered_rentals = data[
        (data['rental_date'].dt.month == month) &
        (data['rental_date'].dt.year == year)
    ]

    rentals_per_customer = filtered_rentals.groupby('customer_id').size().reset_index(name=f'rentals_{month}_{year}')
    return rentals_per_customer

rentals_data_June = get_rentals_per_customer(data, month=6, year=2005)
print(rentals_data_June)

In [ ]:
rentals_data_May = get_rentals_per_customer(data, month=5, year=2005)
print(rentals_data_May)

In [ ]:
def compare_rentals(df1, df2):
    # Merge DataFrames on 'customer_id'
    merged_df = df1.merge(df2, on='customer_id', suffixes=('_month1', '_month2'))
    
    # Calculate the difference between rentals in the two months
    merged_df['difference'] = merged_df['rentals_month2'] - merged_df['rentals_month1']
    
    return merged_df

result_df = compare_rentals(data_month1, data_month2)
print(result_df)
 
-- measuring difference in rental behaviour by customer ID
-- DocStrings are within functions and prefixed/suffixed by ''' '''