In [1]:
pip install pymysql

Requirement already satisfied: pymysql in /Users/marysuemeissner/anaconda3/lib/python3.11/site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/marysuemeissner/anaconda3/lib/python3.11/site-packages (1.4.39)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import numpy as np

In [4]:
import pymysql                        # for getting data from a SQL database
from sqlalchemy import create_engine  # for establishing the connection and authentication

In [6]:
from getpass import getpass  # To get the password without showing the input

In [7]:
password = getpass()

········

In [8]:
connection_string = 'mysql+pymysql://root:B00tcamp@localhost/bank'
engine = create_engine(connection_string)

In [9]:
type(engine)

sqlalchemy.engine.base.Engine

In [10]:
data = pd.read_sql_query('SELECT * FROM bank.loan', engine)
data.head()

   loan_id  account_id    date  amount  duration  payments status
0     5314        1787  930705   96396        12    8033.0      B
1     5316        1801  930711  165960        36    4610.0      A
2     6863        9188  930728  127080        60    2118.0      A
3     5325        1843  930803  105804        36    2939.0      A
4     7240       11013  930906  274740        60    4579.0      A